h1,h2,h3,h4,h5,h6 {
    text-rendering: optimizeLegibility;
    font-weight: normal;
}

#product-pitch {
    background-color: #111;
    background-repeat: no-repeat;
    background-position: center;
/*    background-image: url("../img/pbe-before.png"); */
    background-image: url("../img/letspbe-small.jpg");
    height: 850px;
}

#closer {
    background-color: #111;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/pbe-after.png");
/*     background-image: url("../img/letspbe-small.jpg"); */
    height: 550px;
}


.container-fluid {
    max-width: 1300px;
    margin: 0px auto;
}

#product-pitch h1, #closer h1 {
    color: white;
    font-size: 36pt;
    line-height: 36pt;
}

#introducing {
    background-color: #eee;
    padding: 2em;
    padding-bottom: 0em;
}

#footer {
    background-color: #eee;
    padding-top: 0.5em;
}